# Python
__pycache__/
*.py[cod]

# Environment
.env

# Virtual env
venv/

# Byte-compiled / optimized / DLL files
*.pyc

# Distribution / packaging
.Python
env/

# Installer logs
pip-log.txt

# Unit test / coverage reports
htmlcov/

# PyCharm or IntelliJ IDEA
.idea/
*.iml

# macOS
.DS_Store

# Windows
Thumbs.db

# Heroku
*.log
